{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}
